name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 8
      - uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Build Client
        run: pnpm install && pnpm build
        working-directory: ./client

      - name: Build Server
        run: pnpm install && pnpm build
        working-directory: ./server
